/* CSS file for styles regarding the footer */

footer {
    background-color: var(--medium-blue);
    padding: 50px 0px 100px 30px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    color: var(--grey);
}


.text-footer,
.logo-footer,
.some-footer {
    width: 240px;
    height: 130px;
    font-size: 18px;
}

footer h2{
    font-size: 18px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
