/*  CSS file for global styling and layout -  things that apply to the whole site goes here */

body {
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

h1, 
h2 {
    font-family: 'Bakbak One', Arial, Helvetica, sans-serif;
    font-size: 58px;
}

h3,
p, 
.p-bold, 
nav, 
address,
input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
}

.p-bold {
    font-weight: bold;
}

address {
    font-style: normal;
}

.hidden-text {
    display: none;
} 

span.orange {
    color: var(--dark-orange);
}

span.purple {
    color: var(--purple);
}