/*  CSS file for styles regarding the homepage */

/*Section: Intro home*/
.intro-home {
    background-color: var(--dark-orange);
    color: var(--white);
    min-height: 80vh;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
}

.intro-home h1 {
    font-size: 72px;
}

/*Section: Special events*/
.special-events {
    background-color: var(--light-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 50px 30px 100px;
    position: relative;
}

.event-header {
    position: absolute;
    top: 200px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--dark-blue);
    opacity: 0.8;
    color: var(--white);
    border-radius: 10px;
}

.event-container {
    width: 500px;
    height: 860px;
    border: 1px solid;
    border-color: var(--dark-blue);
    border-radius: 10px;
}

.event-container:hover {
    border: 3px solid;
    border-color: var(--purple);
}

.event-container img {
    width: 500px;
    height: 560px;
}

.event-text {
    padding-left: 10px;
    padding-right: 10px;
    height: 220px;
}

.event-text h3{
    font-size: 24px;
}

.p-book {
    color: var(--purple);
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

/*Section: Explore the Universe */
.explore-universe {
    background-color: var(--grey);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 120px;
}

.explore-universe h2{
    color: var(--medium-blue);
}

.explore-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 0px 30px 80px;
}

.explore-container {
    position: relative;
    height: 400px;
    background-color: var(--dark-blue);
    border-radius: 10px;
}

.explore-container:hover {
    border: 2px solid;
    border-color: var(--dark-blue);
}

.explore-container img {
    height: 400px;
    width: 300px;
    border-radius: 10px;
}

.explore-container h3 {
    color: var(--white);
    position: absolute;
    width: 100%;
    bottom: 10px;
    font-size: 20px;
}