/* CSS file for variables - only variables goes here */

:root {
    --light-orange: #F9A26C; 
    --dark-orange: #F26627;
    --grey: #EFEEEE;
    --green: #C5DC57;
    --light-blue: #9BD7D1;
    --medium-blue: #325D79;
    --dark-blue: #19263D;
    --black: #00000000;
    --white: #FFFF;
    --purple: #5931AD;
}