/* CSS file for styles regarding the visit-page */

.visit {
    background-color: var(--light-blue);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.visit-container h1{
    text-align: center;
}

.visit-container {
    background-color: var(--dark-orange);
    color: var(--white);
    border-radius: 10px;
    padding-bottom: 100px;
    padding-top: 20px;
}

.visit-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); /*inspired by: https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/*/
    padding-left: 7%;
}

.information-card {
    height: 250px;
}

.icon-visit{
    display: inline-block;
    vertical-align: top;
}

.text-visit{
    display: inline-block;
    padding-left: 20px;
    max-width: 300px;
}

.text-visit h2{
    font-size: 22px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.text-visit p{
    font-size: 20px;
}
