/*
Fordeling CSS
1.  Variables
2.  Global
3.  Header
4.  Footer
5.  Typography
6.  CTA
7.  Color
8.  Forms
9.  Hamburger
10. Home
11. Visit
12. Explore
13. Learn
14. Tickets
16. media
*/

/* 1. Variables */

:root {
    --light-orange: #F9A26C; 
    --dark-orange: #F26627;
    --grey: #EFEEEE;
    --green: #C5DC57;
    --light-blue: #9BD7D1;
    --medium-blue: #325D79;
    --dark-blue: #19263D;
    --black: #0000;
    --white: #FFFF;
    --purple: #5931AD;
    }

/* 2. Global */

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

h1, 
h2,
h3 {
font-family: 'Bakbak One', Arial, Helvetica, sans-serif;
font-size: 58px;
}

p, 
.p-bold, 
nav {
font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.p-bold {
    font-weight: bold;
    }

.p-bold-underline {
        font-weight: bold;
        text-decoration: underline;
        }

/* 3. Header */

header {
    background-color: var(--light-orange);
    text-transform: uppercase;
    font-size: 30px;
    }

.header-content {
    padding: 10px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-blue);
    }

nav a:hover{
    text-decoration: underline;
    }

.logo-header {
    
    }

/* 4. Footer */

footer {
    background-color: var(--medium-blue);
    min-height: 250px;
    padding-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey);
}

.text-footer ul {
    list-style: none;
}


/*6 cta */

.button-purple {
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: var(--purple);
}

.button-purple:hover {
    background-color: var(--grey);
    color: var(--purple);
    text-decoration: none;
    border: 1px solid;
}

.button-white-purple {
    padding: 10px 15px;
    font-size: 22px;
    font-family: 'Inter';
    text-align: center;
    color: var(--purple);
    border-radius: 10px;
    background-color: var(--grey);
}

.button-white-purple:hover {
    background-color: var(--purple);
    color: var(--grey);
    text-decoration: none;
}

.button-orange {
    padding: 10px 15px;
    font-size: 22px;
    font-family: 'Inter';
    text-align: center;
    color: var(--grey);
    border-radius: 10px;
    background-color: var(--dark-orange);
    text-transform: uppercase;
}

.button-orange:hover {
    background-color: var(--grey);
    color: var(--dark-orange);
    text-decoration: none;
    border: 1px solid black;
}

.button-blue {
    padding: 10px 15px;
    font-size: 22px;
    font-family: 'Inter';
    text-align: center;
    color: var(--dark-blue);
    border-radius: 10px;
    background-color: var(--grey);
    text-transform: uppercase;
}

.button-blue:hover {
    background-color: var(--grey);
    color: var(--dark-orange);
    text-decoration: none;
    border: 1px solid black;
}


/*9. hamburger */

.hamburger-icon {
        display: none;
    }

/* 10. Home */

.intro-home {
    background-color: var(--dark-orange);
    color: var(--grey);
    min-height: 70vh;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
}
.intro-home-h1 {
    font-size: 72px;
}

.special-events {
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-around;
    padding: 50px 30px 100px;
}

.event-header {
    position: absolute;
    left: 400px; /*løses på en annen måte!*/
    color: var(--grey);
}

span.orange {
    color: var(--dark-orange);
}

.event-wrapper {
    width: 420px;
    height: 860px;
    border: 1px solid;
    border-radius: 10px;
}

.event-wrapper:hover {
    border: 2px solid;
    border-radius: 10px;
}

.event-wrapper img {
    width: 420px;
    height: 560px;
}

.event-text {
    padding-left: 10px;
    padding-right: 10px;
    height: 220px;
}

.event-text p{
    font-size: 18px;
}

.event-text .p-bold{
    font-size: 24px;
}

.p-book {
    color: var(--purple);
    text-transform: uppercase;
    text-align: right;
    padding-right: 10px;
}

.explore-universe {
    background-color: var(--grey);
    min-height: 70vh;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 120px;
}

.explore-universe h2{
    color: var(--medium-blue);
}

.explore-categories {
    display: flex;
    justify-content: space-between;
    padding: 50px 30px 80px;
}

.explore-container {
    position: relative;
}

.explore-container:hover {
    border: 2px solid;
    border-radius: 10px;
}

.explore-container img {
    height: 400px;
}

.explore-container .p-bold {
    color: var(--grey);
    position: absolute;
    bottom: 10px;
}

/* 11. Visit */

.visit {
    background-color: var(--light-blue);
    padding-top: 10px;
    padding-bottom: 50px;
}

.visit h1 {
    text-align: center;
    padding-top: 50px;
}

.visit-container {
    margin: 30px;
    background-color: var(--dark-orange);
    color: var(--grey);
    border-radius: 10px;
    padding-bottom: 90px;
}

.visit-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); /*inspired by: https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/*/
    padding-left: 100px;
}

.information-card {
    height: 200px;
}

.icon-visit{
    display: inline-block;
    vertical-align: top;
}

.text-visit{
    display: inline-block;
    padding-left: 20px;
    max-width: 250px;
}


/* 12. Explore */

.explore {
    background-color: var(--dark-blue);
    padding-top: 10px;
    padding-bottom: 80px;
}

.intro-explore {
    margin: 30px;
    display: flex;
    background-color: var(--grey);
    color: var(--dark-orange);
}

.explore-card {
    margin: 30px;
    background-color: var(--grey);
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    color: var(--dark-blue);
    width: 600px;
}

/* 13. Learn */
.learn {
    background-color: var(--light-blue);
    padding-top: 10px;
    padding-bottom: 80px;
}

.learn-intro {
    margin: 30px;
    background-color: var(--grey);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 80px;
}

.learn-intro h1{
   text-align: center;
}