/*
Fordeling CSS
1.  Variables
2.  Global
3.  Header
4.  Footer
5.  Typography
6.  CTA
7.  Color
8.  Forms
9.  Hamburger
10. Home
11. Visit
12. Explore
13. Learn
14. Tickets
15. media
*/

/* 1. Variables */

:root {
    --light-orange: #F9A26C; 
    --dark-orange: #F26627;
    --grey: #EFEEEE;
    --green: #C5DC57;
    --light-blue: #9BD7D1;
    --medium-blue: #325D79;
    --dark-blue: #19263D;
    --black: #0000;
    --white: #FFFF;
    --purple: #5931AD;
    }

/* 2. Global */

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

h1, 
h2,
h3 {
font-family: 'Bakbak One', Arial, Helvetica, sans-serif;
font-size: 58px;
}

p, 
.p-bold, 
nav, 
address {
font-family: 'Inter', Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
}

.p-bold {
    font-weight: bold;
    }

.p-bold-underline {
        font-weight: bold;
        text-decoration: underline;
        }

address {
    font-style: normal;
}

.hidden-text {
    display: none;
} 

/* 3. Header */

header {
    background-color: var(--light-orange);
    text-transform: uppercase;
    font-size: 30px;
    }

.header-content {
    padding: 10px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-blue);
    }


nav a:hover{
    text-decoration: underline;
    }

.logo-header {
    
    }

/* 4. Footer */

footer {
    background-color: var(--medium-blue);
    padding: 50px 0px 100px 30px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    color: var(--grey);
}

address,
.opening-hours,
.logo-footer,
.some-footer {
    width: 220px;
    height: 130px;
}

/*6 cta */

.button-purple {
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: var(--purple);
}

.button-purple:hover {
    background-color: var(--grey);
    color: var(--purple);
    text-decoration: none;
    border: 1px solid;
}

.button-white-purple {
    padding: 10px 15px;
    font-size: 22px;
    font-family: 'Inter';
    text-align: center;
    color: var(--purple);
    border-radius: 10px;
    background-color: var(--grey);
}

.button-white-purple:hover {
    background-color: var(--purple);
    color: var(--grey);
    text-decoration: none;
}

.button-orange {
    padding: 10px 15px;
    font-size: 22px;
    font-family: 'Inter';
    text-align: center;
    color: var(--grey);
    border-radius: 10px;
    background-color: var(--dark-orange);
    text-transform: uppercase;
}

.button-orange:hover {
    background-color: var(--grey);
    color: var(--dark-orange);
    text-decoration: none;
    border: 1px solid black;
}

.button-blue {
    padding: 10px 15px;
    font-size: 22px;
    font-family: 'Inter';
    text-align: center;
    color: var(--dark-blue);
    border-radius: 10px;
    background-color: var(--grey);
    text-transform: uppercase;
}

.button-blue:hover {
    background-color: var(--grey);
    color: var(--dark-orange);
    text-decoration: none;
    border: 1px solid black;
}


/*9. hamburger */

.hamburger-icon {
        display: none;
    }



/* 10. Home */

.intro-home {
    background-color: var(--dark-orange);
    color: var(--grey);
    min-height: 80vh;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
}
.intro-home-h1 {
    font-size: 72px;
}

.special-events {
    background-color: var(--light-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 50px 30px 100px;
}

.event-header {
    position: absolute;
    left: 400px; /*løses på en annen måte? eventuelt legge over*/
    color: var(--grey);
}

span.orange {
    color: var(--dark-orange);
}

.event-wrapper {
    width: 420px;
    height: 860px;
    border: 1px solid;
    border-radius: 10px;
}

.event-wrapper:hover {
    border: 2px solid;
    border-radius: 10px;
}

.event-wrapper img {
    width: 420px;
    height: 560px;
}

.event-text {
    padding-left: 10px;
    padding-right: 10px;
    height: 220px;
}

.event-text p{
    font-size: 18px;
}

.event-text .p-bold{
    font-size: 24px;
}

.p-book {
    color: var(--purple);
    text-transform: uppercase;
    text-align: right;
    padding-right: 10px;
}

.explore-universe {
    background-color: var(--grey);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 120px;
}

.explore-universe h2{
    color: var(--medium-blue);
}

.explore-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 0px 30px 80px;
    
}

.explore-container {
    position: relative;
    height: 400px;
}

.explore-container:hover {
    border: 2px solid;
    border-radius: 10px;
}

.explore-container img {
    height: 400px;
}

.explore-container .p-bold {
    color: var(--grey);
    position: absolute;
    bottom: 10px;
}


/* 11. Visit */

.visit {
    background-color: var(--light-blue);
    padding-top: 10px;
    padding-bottom: 50px;
}

.visit h1 {
    text-align: center;
    padding-top: 50px;
}

.visit-container {
    margin: 30px;
    background-color: var(--dark-orange);
    color: var(--grey);
    border-radius: 10px;
    padding-bottom: 90px;
}

.visit-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); /*inspired by: https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/*/
    padding-left: 100px;
}

.information-card {
    height: 200px;
}

.icon-visit{
    display: inline-block;
    vertical-align: top;
}

.text-visit{
    display: inline-block;
    padding-left: 20px;
    max-width: 250px;
}


/* 12. Explore */

.explore {
    background-color: var(--dark-blue);
    padding: 30px 30px 80px;
}

.intro-explore {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: var(--grey);
    color: var(--dark-orange);
    border-radius: 10px;
    gap: 20px;
    align-items: center;
}

.picture-explore img{
    max-width: 100%;
    height: auto;
    border-radius: 10px 0px 0px 10px;
}

.text-explore {
    text-align: center;
}

.exhibit-flex {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-top: 20px;
}

.exhibit-card {
    background-color: var(--grey);
    border-radius: 10px;
    color: var(--dark-blue);
    min-height: 100%;
}

.exhibit-picture img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.exhibit-text {
    padding-left: 10px;
    padding-right: 10px;
}

.view-explore {
    padding-top: 50px;
    text-align: center;
}


/* 13. Learn */
.learn {
    background-color: var(--light-blue);
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 20px;
}

.learn-intro {
    background-color: var(--grey);
    border-radius: 10px;
    padding: 10px 30px 80px;
}

.learn-intro {
   text-align: center;
}

.learn-intro h2{
    font-size: 32px;
    color: var(--dark-orange);
 }

.intro-text {
    max-width: 1000px;
    display: inline-block;
    text-align: left;
    padding-bottom: 50px;
}
.learn-fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-top: 20px;
 }

 .learn-cards {
    background-color: var(--grey);
    border-radius: 10px;
 }
 
 .learn-text {
  padding-left: 30px;
  padding-right: 30px;  
  padding-bottom: 30px;
  padding-top: 30px;
 }

 .learn-image {
    text-align: center;
}

 .learn-cards h2{
    font-size: 20px;
  }

/* 14. Tickets */
.tickets {
    background-color: var(--dark-orange);
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.tickets h1 {
    text-align: center;
    color: var(--dark-blue);
}

.tickets h2{
    font-size: 30px;
    color: var(--dark-blue);
}

.tickets-info{
    background-color: var(--grey);
    padding-top: 30px;
    padding-bottom: 100px;
    border-radius: 10px;   
}

.tickets-heading, 
.tickets-cta {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.tickets-line {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.tickets-cta {
    text-align: right;
    padding-top: 40px;
}



